<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa2REIrFZBsibn5UGrajmoU70gJ1fmmJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>49801702948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lotventures.lotlegendsapp</string>
	<key>PROJECT_ID</key>
	<string>lot-legends</string>
	<key>STORAGE_BUCKET</key>
	<string>lot-legends.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49801702948:ios:a2ae314bf50cdbd85232b1</string>
</dict>
</plist>